@{
    ViewData["Title"] = "Account";
}
<h1>Account</h1>

<nav>
    <div class="row">
        <div class="col-6">
            <div class="card primary">
                <a class="" href="/home/transfer">
                    <div class="card-body">
                        Transfer
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>

<h2 class="primary">Balance: <span class="float-right" id="balance">0</span></h2>

<div class="table-responsive">
    <table class="table text-light">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody id="transactions">
            <tr id="template-row" style="display: none;">
                <td scope="row"><span id="placeholder-for-date" /></td>
                <td scope="row"><span id="placeholder-for-benefactor" /></td>
                <td scope="row"><span id="placeholder-for-recipient" /></td>
                <td scope="row"><span id="placeholder-for-amount" /></td>
                <td scope="row" class=""><span id="placeholder-for-description" /></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(function () {
            authGet('/account/balance').done(function (data) {
                    $('#balance').text(data);
            });

            authGet('/account/statement').done(function (data) {
                for (i = data.length - 1; i >= 0; i--) {
                    var clone = $('#template-row').clone();
                    clone.removeAttr('id');
                    clone.find('#placeholder-for-date').replaceWith(formatDate(data[i].date));
                    clone.find('#placeholder-for-benefactor').replaceWith(data[i].benefactor);
                    clone.find('#placeholder-for-recipient').replaceWith(data[i].recipient);
                    clone.find('#placeholder-for-amount').replaceWith(data[i].amount);
                    clone.find('#placeholder-for-description').replaceWith(data[i].description);
                    clone.show();
                    clone.appendTo('#transactions');
                }
            });
        });

        if (!isLoggedIn())
            window.location.href = '/';
    </script>
}