@{
    ViewData["Title"] = "Home Page";
}

<p><a href="/home/start">Get started!</a></p>
<p>- Already have an account? <a href="/home/login">Login</a>.</p>

<p>Already logged in? Check out <a href="/home/account">your account</a> and transfer some funny money :)</p>