@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form id="login_form">
    <div class="form-group">
        <label for="inputIdentity">Username</label>
        <input type="text" class="form-control" id="inputIdentity" placeholder="" />
    </div>
    <div class="form-group">
        <label for="inputPincode">Pincode</label>
        <input type="password" class="form-control" id="inputPincode" placeholder="" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a class="btn-link float-right" href="/">Cancel</a>
</form>

@section Scripts
{
    <script>
        $(function () {
            var login_application;
            $.getJSON('/customer/login',
                function(data) {
                    login_application = data;
                    $('#inputIdentity').attr('placeholder', data.username);
                    $('#inputPincode').attr('placeholder', data.pincode);
                });

            $('#login_form').on('submit',
                function () {
                    login($('#inputIdentity').val(), $('#inputPincode').val());
                    return false;
                });
        });
    </script>
}