@{
    ViewData["Title"] = "Account";
}

<h1>Account</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Recipient</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody id="transactions">

    </tbody>
</table>

<div class="row">
    <div class="col">Balance:</div>
    <div class="col" id="balance"></div>
</div>

<hr/>

<form id="transfer_form">
    <div class="form-group">
        <label for="inputRecipient">Recipient</label>
        <input type="text" class="form-control" id="inputRecipient" placeholder="" />
    </div>
    <div class="form-group">
        <label for="inputAmount">Amount</label>
        <input type="number" class="form-control" id="inputAmount" placeholder="" />
    </div>
    <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea class="form-control" id="inputDescription" cols="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Transfer</button>
</form>

@section Scripts
{
    <script>
        $(function () {

            $.ajax({
                type: "GET",
                url: '/transaction/index',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", 'Bearer ' + sessionStorage.token);
                }
            }).done(function (data) {
                    $('#balance').text(data);
                });

            $.ajax({
                type: "GET",
                url: '/transaction/list',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", 'Bearer ' + sessionStorage.token);
                }
            }).done(function (data) {
                for (i = data.length-1; i >= 0; i--) {
                    $('#transactions').append('<tr><td scope="row">' + data[i].date + '</td><td scope="row">' + data[i].recipient + '</td><td>' + data[i].amount + '</td><td>' + data[i].description + '</td></tr>');
                }
            });

            var transfer_application;
            $.getJSON('/transaction/create',
                function(data) {
                    transfer_application = data;
                    $('#inputRecipient').attr('placeholder', data.recipient);
                    $('#inputAmount').attr('placeholder', data.amount);
                    $('#inputDescription').attr('placeholder', data.description);
                });

            $('#transfer_form').on('submit',
                function () {
                    var recipient = $('#inputRecipient').val();
                    var amount = $('#inputAmount').val();
                    var description = $('#inputDescription').val();
                    transfer(recipient, amount, description);
                    return false;
                });

            function transfer(recipient, amount, description) {

                var transaction_request = jQuery.extend({}, transfer_application);
                transaction_request.recipient = recipient;
                transaction_request.amount = amount;
                transaction_request.description = description;

                $.ajax({
                    type: "POST",
                    url: '/transaction/create',
                    data: transaction_request,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("Authorization", 'Bearer ' + sessionStorage.token);
                    }
                }).done(function(response) {
                    location.reload();
                });
            }
        });
    </script>
}